body {
  font-family: "Rubik", sans-serif;
}

.card_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
  column-gap: 5px;
}

@media screen and (orientation: portrait) {
  .card_grid {
    grid-template-columns: 1fr;
  }
}

.card {
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
}
