body {
  font-family: "Rubik", sans-serif;
}

.card_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (orientation: portrait) {
    .card_grid{
        grid-template-columns: 1fr;
    }
}
